*{
  margin: 0;padding: 0;box-sizing: border-box;
}
html{
  font-family: 'Oswald', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
.container{
  max-width: 960px;
  margin: auto;
}
.container-contact{
  max-width: 400px;
  margin: auto;

}
a{
  text-decoration: none;
  color: black;
}
img{
  width: 100%;
}


.grid{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full--width{
  width: 100%;
}
.grid__row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
  padding: 0 6px;
}

.grid__column--3{
  padding: 0 15px;
  width: calc(100%/12*3);
}
.grid__column--9{
  padding: 0 15px;
  width: calc(100%/12*9);
}
.mt-8{
  margin-top: 8px;
}
.mt-4{
  margin-top: 4px;
}

.grid__column--2--item{
  padding: 0 12px;
  width: calc(100%/10*2);
}
ul{
  text-decoration: none;
}
.mtb-8{
  margin-bottom: 8px;
}
.mtb-4{
  margin-bottom: 4px;
}
.mtb-12{
  margin-bottom: 12px;
}
.car-content-imgs{

}
.square-car-wraper{
  display: flex;
  font-size: 16px;
}
.square-car-left{
  flex: 0 0 60%;
}
.square-car-left img{
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.square-car-right{
  margin: auto 15px;
  width: 100%;
}
.square-car-content{

}
.square-car-content h1{
  font-size: 42px;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 15px;
  font-weight: 400;
  text-align: left;
}
.square-car-content h1::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #ac2b31;
}
.square-car-content>p{
  font-weight: 400;
  line-height: 1.6;
}
.not-square-wraper{
  display: flex;
  justify-content: center;
}
.not-square-left{
  margin:auto 15px;
  flex: 0 0 40%;
}
.not-square-left h2{
  position: relative;
  font-size: 30px;
  margin: 30px 0 15px 0;
  padding-bottom: 15px;
}
.not-square-left h2::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background-color: #ac2b31;
}
.not-square-left p{
  font-weight: 400;
  line-height: 1.6;
}
.not-square-right{
  position: relative;
  overflow: hidden;
  
}
.not-square-right img{
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
}

